body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.Skip-color{
    color: orangered;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orangered, tomato);
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
}